.touristic-points-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    .touristic-points-title {
        margin: 32px 0;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
    }
}
