::-webkit-scrollbar-track {
    background-color: $gray-700;
}
::-webkit-scrollbar {
    width: 6px;
    background: $gray-400;
}
::-webkit-scrollbar-thumb {
    background: $gray-400;
}

body,
input,
button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #000;
}

button {
    cursor: pointer;
}
